RABBITMQ_URL=amqp://admin:admin@localhost:5672

# Configurações do Gmail
GMAIL_USER=email@gmail.com
GMAIL_APP_PASSWORD=senha de aplicativo do e-mail

# Configuração do Firebase
FIREBASE_CREDENTIALS_PATH=./firebase-adminsdk.json